<div class="header">
    <div class="header_content_1">
        <div class="left-side-header">
            <a href="/"><div class="logo"></div></a>
        </div>
        <div class="right-side-header_1">
            <div class="header-menu"><a class="menu" href="/">Home</a></div>
            <div class="header-menu"><a class="menu" href="/#choose">Choose</a></div>
            <div class="header-menu"><a class="menu" href="/#ourwork">Our work</a></div>
            <div class="header-menu"><a class="menu" href="/#contacts">Contacts</a></div>
            <!-- Rise up basket -->
            <div class="menu_plus" id="shop_basket" style="display:none;"><a class="header-menu menu mar_left20" href="#"><div>Shop<span class="basket mar_left10"><img src="images/basket.png"></span>
                <span class="red_circle mar_left10"></span></div></a>
            </div>
            <!--  -->
        </div>
        <div style=clear:both;"></div>
    </div>
</div>