<div class="header">
    <div class="left-side-header">
        <a href="/">
            <div class="logo"></div>
        </a>
    </div>
    <div class="right-side-header" onclick="toggleMenu()">
        <img src="images/menu-icon.png">
    </div>

</div>
<div class="right-side-header_1" onscroll="event.stopPropagation();">
    <div class="right-side-header_1_block">
        <div class="header-menu"><a class="menu" href="/">Home</a></div>
        <div class="header-menu" onclick="toggleMenu()"><a class="menu" href="/#choose">Choose</a></div>
        <div class="header-menu" onclick="toggleMenu()"><a class="menu" href="/#ourwork">Our work</a></div>
        <div class="header-menu" onclick="toggleMenu()"><a class="menu" href="/#contacts">Contacts</a></div>
    </div>
</div>