<div class="content_page_1" id="error_page">
    <div class="error_block">
        <h3 class="error_404">Error 404</h3>
        <h3 class="error_woops">Woops. Looks like this page doesn’t exist.</h3>
        <span class="error_link"><a href="">Back to main</a></span>
    </div>
</div>