<div class="content_page_1" id="success_page">
    <div class="sucsess">
        <button type="button" class="sucsess_img btn"><img src="images/sucsess.png"></button>
        <h3 class="sucsess_greats">Order success. Our manager will contact you</h3>
        <span class="sucsess_link"><a href="">Back to main</a></span>
    </div>
</div>

<script>
    fbq('track', 'Purchase');
</script>