{{> sneakers_header }}
<div class=" flex-container column">
    <div style="margin:140px auto 0 auto; width:640px;">
        <h3>Contacts</h3>
        <br>
        Email: info@sneakers-customs.com
        <br>
        Address: 2517 Dunksferry road, PA, Bensalem 19020
        <br>
        Phone: (+1) 215 9342883
    </div>

    <div class="footer flex-container" id="contacts">
        <div class="logo_footer">
            <div class="logo_footer_part">
                <a href="/">
                    <div class="logo_down"></div>
                </a>
                <div class="down_text">Over the last couple years, the brand has attracted clientele both domestic
                    and abroad as well as some well known personalities in different fields of entertainment. Our
                    mission is to continue to build the brand as well as inspire future generations of artists to
                    come.
                </div>
            </div>
        </div>
        <div class="contacts_footer">
            <h5 class="contacts_name">Info</h5>
            <div class="mailto1"><a style="padding-top: 0px;" href="/info/contacts">Contacts</a></div>
            <div class="mailto1"><a style="padding-top: 0px;" href="/info/terms">Terms of Service</a></div>
            <div class="mailto1"><a style="padding-top: 0px;" href="/info/privacy">Privacy Policy</a></div>
            <div class="mailto1"><a style="padding-top: 0px;" href="/info/refund">Refund Policy</a></div>
        </div>
        <div class="socials_footer paddleft50">
            <h5 class="contacts_name">Socials</h5>
            <div class="mailto1"><a href="https://www.instagram.com/sneakers_customs/"><span
                    class="social_icon_inst"><img src="images/social_icon_inst.png"></span>sneakers_customs</a>
            </div>
        </div>
    </div>
    <div class="company_name">Sneakers Customs (c) 2016-2018</div>
</div>


<script src="/js/scripts/main.js"></script>